@model Ryan_Budget.Models.Account

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.AccountName - Transactions</h2>
Balance: 
@if (Model.Balance >= 0)
{
    <div class="label" style="margin-left: 5px; display: inline-block; background-color: #1fa67a; font-size: 12px; box-shadow: 2px 2px 5px black">@String.Format("{0:C}", Model.Balance)</div>
}
else
{
    <div class="label" style="margin-left: 5px; display: inline-block; background-color: #d9534f; font-size: 12px; box-shadow: 2px 2px 5px black">@String.Format("{0:C}", Model.Balance)</div>
}
<hr />

<div class="widget widget-table">
    @*<div class="widget-header" style="padding-top: 5px">
            <h3 style="font-size: 18px"><i class="fa fa-home" style="padding-right: 5px"></i> Households</h3>
            <div class="btn-group widget-header-toolbar">
            </div>
        </div>*@
    <div class="widget-content">
        <table id="datatable-data-export-ryan" class="table table-hover table-bordered datatable">
            <thead>
                <tr>
                    <th>Posted Date</th>
                    <th>Transaction Date</th>
                    <th>User</th>
                    <th>Category</th>
                    <th>Credits</th>
                    <th>Debits</th>
                    <th>Reconciled</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Transactions)
                {
                    <tr style="font-size: 10px">
                        <td>
                            @item.Created.ToString("d")
                        </td>
                        <td>
                            @item.TransactionDate.ToString("d")
                        </td>
                        <td>
                            @item.AuthorUser.FirstName
                        </td>
                        <td>
                            @item.Category.Name
                            @if (item.Description != null)
                            {
                                <i class="fa fa-question-circle" style="color:#1fa67a; margin-left: 3px; font-size: 12px" data-toggle="tooltip" data-placement="right" data-original-title="@item.Description"></i>
                            }
                        </td>
                        <td>
                            @if ((item.Amount >= 0) && (item.Status != "VOID"))
                            {
                                <strong style="color: #1fa67a">@String.Format("{0:C}", item.Amount)</strong> if (item.Documentation != null){<a href="@Url.Content(item.Documentation)" target="_blank"><i class="fa fa-file-text"></i></a>}
                            }
                            else if ((item.Amount >= 0) && (item.Status == "VOID"))
                            {
                                <em style="color: grey; text-decoration: line-through">@String.Format("{0:C}", item.Amount)</em> if (item.Documentation != null){<a href="@Url.Content(item.Documentation)" target="_blank"><i class="fa fa-file-text"></i></a>}
                            }
                        </td>
                        <td>
                            @if ((item.Amount < 0) && (item.Status != "VOID"))
                            {
                                <strong style="color: #d9534f">@String.Format("{0:C}", item.Amount)</strong> if (item.Documentation != null){<a href="@Url.Content(item.Documentation)" target="_blank"><i class="fa fa-file-text"></i></a>}
                            }
                            else if ((item.Amount < 0) && (item.Status == "VOID"))
                            {
                                <em style="color: grey; text-decoration: line-through">@String.Format("{0:C}", item.Amount)</em> if (item.Documentation != null){<a href="@Url.Content(item.Documentation)" target="_blank"><i class="fa fa-file-text"></i></a>}
                            }
                        </td>
                        <td>
                            @if (item.Reconciled == true)
                            {
                                <i class="fa fa-check-square-o" style="color: #1fa67a"></i>
                            }
                        </td>
                        <td>
                            @if (item.Status == "VOID")
                            {
                                <strong>@item.Status</strong> <a href="@Url.Action("Unvoid", "Transactions", new { id = item.Id, act = item.AccountId } )"><i class="fa fa-undo"></i></a>

                            }
                            else if (item.Status == "RECONCILIATION")
                            {
                                <strong>@item.Status</strong>
                            }
                            else
                            {
                                <a href="@Url.Action("Edit", "Transactions", new { id = item.Id, act = item.AccountId } )"><i class="fa fa-edit"></i></a> <span>|</span>
                                <a href="@Url.Action("Void", "Transactions", new { id = item.Id, act = item.AccountId } )"><i class="fa fa-ban"></i></a> <span>|</span>
                                <a href="@Url.Action("Delete", "Transactions", new { id = item.Id, act = item.AccountId } )"><i class="fa fa-trash"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#datatable-data-export-ryan').dataTable({
                "bSort": false,
            });
        });
    </script>
}