@model Ryan_Budget.Models.Household

@{
    ViewBag.Title = "Create/Join";
}


<div class="content" style="padding-top: 20px">
    @*<div class="main-header">
            <h2>Profile</h2>
            <em>user profile page</em>
        </div>*@
    <div class="main-content">
        <!-- NAV TABS -->
        <ul class="nav nav-tabs nav-tabs-custom-colored tabs-iconized">
            <li class="active"><a href="#profile-tab" data-toggle="tab"><i class="fa fa-user"></i> Create</a></li>
            <li><a href="#activity-tab" data-toggle="tab"><i class="fa fa-rss"></i> Join</a></li>
        </ul>
        <!-- END NAV TABS -->
        <div class="tab-content profile-page">
            <!-- PROFILE TAB CONTENT -->
            <div class="tab-pane profile active" id="profile-tab">
                @using (Html.BeginForm("Create", "Household", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Create Household</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-label col-md-2">Household Name: </div>
                            <div class="col-md-10">
                                <input class="form-control" name="name" id="name" required />
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default"/>
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.ActionLink("Back to List", "Index", "Admin")
                    }
                </div>
            </div>
            <!-- END PROFILE TAB CONTENT -->
            <!-- ACTIVITY TAB CONTENT -->
            <div class="tab-pane activity" id="activity-tab">
                @using (Html.BeginForm("Join", "Household", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <input name="inviteId" value="@ViewBag.InviteId" hidden/>
                    
                    <div class="form-horizontal">
                        <h4>Join Household</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="control-label col-md-2">Household Name: </div>
                            <div class="col-md-10" style="color: #1fa67a; font-size: 24px;">
                                @Html.DisplayFor(model => model.Name)                              
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Join" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Back to List", "Index", "Admin")
                    }
                </div>
            </div>
            <!-- END ACTIVITY TAB CONTENT -->
        </div>
    </div>
    <!-- /main-content -->
</div>
